.normal {
  background-color: blue;
  transform: translateX(0) scale(1);
  transition: all 2000ms ease;
  border-radius: 0;
  animation: multiPhaseNormal 2000ms ease-out;
}

.highlighted {
  background-color: red;
  transform: translateX(300px) scale(1);
  transition: all 2000ms ease;
  border-radius: 50px;
  animation: multiPhaseHighlighted 2000ms ease-out;
}

.normal.shrunken {
  transform: translateX(0) scale(0.5);
}

.highlighted.shrunken {
  transform: translateX(300px) scale(0.5);
}

@keyframes multiPhaseNormal {
  33% {
    opacity: 0.5; 
  }
  66% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}

@keyframes multiPhaseHighlighted {
  33% {
    opacity: 0.5; 
  }
  66% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}